* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    color: white;
    text-decoration: none;
    background: nth($colors, 2);
    border: 1px solid nth($colors, 2);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    transition: 0.5s opacity;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px 3px nth($colors, 8);
        transition: 0.5s all;
    }
}

.title-border {
    position: relative;
    padding-bottom: 1px;
    &:after {
        bottom: 15px;
        left: 10px;
        width: 150px;
        height: 6px;
        background: nth($colors, 2);
        position: absolute;
        content: '';
    }
}

.title-border-big {
    font-size: 25px;
    margin-bottom: 60px;
    text-transform: uppercase;
    &:after {
        width: 296px;
        height: 8px;
        position: absolute;
        top: 49px;
        left: 38px;
    }
}
/****************************************************/
/***********header***************************/
/****************************************************/

@import "headermenu";

/****************************************************/
/***********slider***************************/
/****************************************************/

@import "slider";

/****************************************************/
/***********boxes section***************************/
/****************************************************/

@import "boxessection";

/****************************************************/
/***********prices section***************************/
/****************************************************/

@import "pricessection";

/****************************************************/
/***********calculator section***************************/
/****************************************************/

@import "calculator";

/****************************************************/
/***********contact form section***************************/
/****************************************************/

@import "contactsection";

/****************************************************/
/***********footer***************************/
/****************************************************/

@import "footer";
